.chatPanel {
  width: 900px;
  height: 900px;
  animation: shining-b2b53 20s linear infinite;
  will-change: background-position;
  background-size: 300% 300%;
  box-shadow: 0px -3px 10px 3px rgba(167, 79, 198, 0.2);
  border-radius: 20px;
  background-color: var(--mybricks-bg-color-main-transparent);
}